body {
    font-family: 'Roboto', sans-serif;
}

h1 {
text-align: center;
}

#container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#movieData {
    position: relative;
}

#poster {
    margin-top: 10px;
    width: 20vw;
    border-radius: 15px;
    position: relative;
}

#inputMovie {
    display: block;
    width: 20vw;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.button {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:7px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:7px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.button:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.button:active {
	position:relative;
	top:1px;
}



.plusBtn {
    position: relative;
    top: 0;
    left: -23px;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:23px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:1px 1px 8px #b23e35;
}
.plusBtn:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.plusBtn:active {
	position:relative;
	top:1px;
}

        


#titleRender {
    font-size: 32px;
}

li {
    font-size: 20px;
}

#btnInputMovie {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.favImg {
    border-radius: 5px;
    width: auto;
    height: 30vh;
}

#favoritesDisplay {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
}

.box {
    margin-left: 0.5vw;
    margin-right: 0,5vw;
    text-align: center;
}

@media (max-width: 500px){
    #poster {
        width: 80vw;
    }
    #container{
    flex-direction: column;}
    #favoritesDisplay {
        flex-direction: column;
        }
    .favImg {
        width: 80vw;
        height: auto;
    }    
    };

